/* Layout e Background */
html, body {
    height: 100%;
    background-color: #f7f9fb;
    font-size: 14px;
}

/* Login Page Styles */
.login-page .brand {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
}

.login-page .brand img {
    padding-top: 20px;
    width: 100%;
}

.login-page .card-wrapper {
    width: 400px;
}

.login-page .card {
    border-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
    padding: 10px;
}

.login-page .card .card-title {
    margin-bottom: 30px;
}

.login-page .form-control {
    border-width: 2.3px;
}

.login-page .form-group label {
    width: 100%;
}

.login-page .btn.btn-block {
    padding: 12px 10px;
}

.login-page .footer {
    margin: 40px 0;
    color: #888;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .login-page .card-wrapper {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .login-page .card {
        padding: 0;
    }

    .login-page .card .card-body {
        padding: 15px;
    }
}

/* Menu Lateral */
.grid-principal {
    display: flex;
    height: 100vh;
}

.grid-menu {
    position: fixed; /* Fixar o menu lateral */
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center;  */
    width: 60px;
    transition: all 0.3s ease;
    z-index: 1000; /* Garante que o menu fique acima do conteúdo */
    background-color: #f7f9fb;
    overflow-y: auto; /* Adiciona scroll vertical quando necessário */
    
}

#menu_esquerdo {
    /* background-color: #f7f9fb; */
    color: black;
    background-color: #479efa;
    overflow: hidden;
    border-radius: 10px;

}

.grid-menu.collapsed {
    width: 100px;
}

.grid-menu.collapsed .cadastro {
    font-size: 0.8em; /* Diminua o tamanho da fonte */
    text-align: left; /* Alinhe o texto à esquerda */
    padding: 10px 5px; /* Ajuste o padding */
}

.grid-menu.collapsed .sub_menu_cadastro {
    display: none; /* Esconda os submenus quando colapsado */
	font-size: 0.7em;
}

/* Transição suave para mudanças */
.grid-menu:hover {
    width: 200px;
}

.grid-menu:hover .cadastro {
    font-size: 1.2em; /* Aumente o tamanho da fonte quando expandido */
}

.grid-menu:hover .sub_menu_cadastro {
    display: none; /* Mostre os submenus quando expandido */
	font-size: 0.8em;
}

#menu_direito {
    margin-left: 100px; /* Ajuste o conteúdo principal para acomodar o menu lateral */
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    width: calc(100% - 60px); /* Ajusta a largura do conteúdo principal */
    transition: margin-left 0.3s ease; /* Suave transição ao expandir o menu */
}

.grid-menu:hover ~ #menu_direito {
    margin-left: 200px; /* Ajuste a margem esquerda do conteúdo principal quando o menu está expandido */
    width: calc(100% - 200px); /* Ajusta a largura do conteúdo principal */
}

.cadastro {
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 0.8em; /* Ajuste inicial do tamanho da fonte */
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, border 0.3s, font-size 0.3s;
}

.cadastro:hover {
    background-color: #495057;
    border: 1px solid #ced4da;
}

.sub_menu_cadastro {
    display: none;
    margin-top: 10px;
    padding-left: 20px;
}

.cadastro.active + .sub_menu_cadastro {
    display: block;
}

.sub_menu_cadastro div {
    margin: 5px 0;
    cursor: pointer;
}

.sub_menu_cadastro div:hover {
    text-decoration: underline;
}

.sub_menu_cadastro a {
    color: black;
    text-decoration: none;
}

.sub_menu_cadastro a:hover {
    text-decoration: underline;
}

.imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Formulário de Cadastro de Cliente */
#cadastroClienteForm {
    padding: 20px;
}

.form-group {
    margin-bottom: 1px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-width: 2.3px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-group {
    flex: 1;
    margin-right: 15px;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Toggle Switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 26px;
}

.toggle-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Container Styles */
.container-fluid {
    display: flex;
    height: 100vh;
}

.container{
    margin-left: 1px;
}

.filter-container {
    width: 35%;
    padding: 20px;
    background-color: #f8f9fa;
}

.content-container {
    width: 75%;
    padding: 20px;
}

.footer-buttons {
    display: flex;
    justify-content: space-around;
    padding: 15px 0 0 0 ;
    
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 40px; /* Ajuste o padding conforme necessário */
    width: 200px; /* Ajuste a largura conforme necessário */
    border-radius: 5px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    background: #479efa;
    text-decoration: none;
    user-select: none;
    color: white;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
    margin: 2px;
}

.button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
}

.button:focus,
.button:hover {
    background: #387dc6; /* Use um tom mais escuro da cor original */
}

.button:active:after {
    width: 300px;
    height: 300px;
}

.button img {
    height: 20px; /* Ajuste o tamanho do ícone conforme necessário */
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}